---
http_interactions:
- request:
    method: get
    uri: https://demo.crunch.co.uk/crunch-core/seam/resource/rest/api/expenses/2427
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <Authorization>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/*+xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><crunchMessage
        xmlns="http://api.crunch.co.uk/rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        outcome="success" xsi:schemaLocation="http://api.crunch.co.uk/rest"><expenses
        count="1" firstResult="0"><expense expenseId="2427" resourceUrl="/crunch-core/seam/resource/rest/api/expenses/2427"><expenseDetails><supplier
        supplierId="708"><name>Currys</name><contactName></contactName></supplier><supplierReference>987</supplierReference><postingDate>2013-06-10T00:00:00+01:00</postingDate></expenseDetails><expenseLineItems
        count="1" lineItemGrossTotal="19.00"><expenseLineItem><expenseType>COMPUTER_CONSUMABLES</expenseType><lineItemDescription>Printer
        paper</lineItemDescription><lineItemAmount><netAmount>15.83</netAmount><grossAmount>19.00</grossAmount><vatAmount>3.17</vatAmount></lineItemAmount></expenseLineItem></expenseLineItems><paymentDetails
        count="1"><payment><paymentDate>2013-06-10T00:00:00+01:00</paymentDate><amount>19.00</amount><paymentMethod>DIRECTORS_EXPENSES</paymentMethod><director
        directorId="216">Aaron Chambers</director></payment></paymentDetails><note>This
        is a note</note></expense></expenses></crunchMessage>
  recorded_at: Sat, 15 Jun 2013 16:05:53 GMT
recorded_with: VCR 2.4.0
