---
http_interactions:
- request:
    method: get
    uri: https://demo.crunch.co.uk/crunch-core/seam/resource/rest/api/suppliers?firstResult=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="aaron_chambers", oauth_nonce="xxx",
        oauth_signature="xxx", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1368726069", oauth_token="xxx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/*+xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><crunchMessage
        xmlns="http://api.crunch.co.uk/rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        outcome="success" xsi:schemaLocation="http://api.crunch.co.uk/rest"><suppliers
        count="6" firstResult="0"><supplier supplierId="709" defaultExpenseType="EQUIPMENT_COST"
        resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/709" unknownSupplier="true"><name>Apple
        Inc</name><contactName>Joe Burns</contactName><email>test@apple.com</email><website>apple.com</website><telephone>0212345</telephone><fax>029876</fax></supplier><supplier
        supplierId="711" defaultExpenseType="INTERNET" resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/711"><name>BT</name><contactName>Sam
        Smith</contactName><email>sam@bt.com</email><website>bt.com</website><telephone>0712345678</telephone><fax>0212345678</fax></supplier><supplier
        supplierId="708" resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/708"><name>Currys</name><contactName></contactName><email></email><website></website><telephone></telephone><fax></fax></supplier><supplier
        supplierId="618" defaultExpenseType="ACCOUNTANCY" resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/618"><name>E-Crunch
        Ltd</name><email>support@crunch.co.uk</email><website>www.crunch.co.uk</website><telephone>0844
        500 8000</telephone></supplier><supplier supplierId="646" resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/646"><name>Harvey
        Norman</name><contactName></contactName><email></email><website></website><telephone></telephone><fax></fax></supplier><supplier
        supplierId="710" defaultExpenseType="PRINTING_POSTAGE_STATIONERY" resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/710"><name>Ryman</name><contactName></contactName><email></email><website></website><telephone></telephone><fax></fax></supplier></suppliers></crunchMessage>
  recorded_at: Thu, 16 May 2013 17:41:09 GMT
recorded_with: VCR 2.4.0
