---
http_interactions:
- request:
    method: get
    uri: https://demo.crunch.co.uk/crunch-core/seam/resource/rest/api/suppliers?firstResult=0&resultsPerPage=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - <Authorization>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/*+xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><crunchMessage
        xmlns="http://api.crunch.co.uk/rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        outcome="success" xsi:schemaLocation="http://api.crunch.co.uk/rest"><suppliers
        count="10" firstResult="0" resultsPerPage="4"><supplier supplierId="724" resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/724"><name></name><contactName>Mike
        Jones</contactName><email></email><website></website><telephone></telephone><fax></fax></supplier><supplier
        supplierId="709" defaultExpenseType="EQUIPMENT_COST" resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/709"><name>Apple
        Inc</name><contactName></contactName><email>test@apple.com</email><website></website><telephone></telephone><fax></fax></supplier><supplier
        supplierId="723" resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/723"><name>BSkyB</name><contactName></contactName><email></email><website></website><telephone></telephone><fax></fax></supplier><supplier
        supplierId="711" defaultExpenseType="INTERNET" resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/711"><name>BT</name><contactName>Sam
        Smith</contactName><email>sam@bt.com</email><website>bt.com</website><telephone>0712345678</telephone><fax>0212345678</fax></supplier></suppliers></crunchMessage>
  recorded_at: Fri, 14 Jun 2013 22:42:27 GMT
recorded_with: VCR 2.4.0
