---
http_interactions:
- request:
    method: get
    uri: https://demo.crunch.co.uk/crunch-core/seam/resource/rest/api/suppliers/711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="aaron_chambers", oauth_nonce="xxx",
        oauth_signature="xxx", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1368738955", oauth_token="xxx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/*+xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><crunchMessage
        xmlns="http://api.crunch.co.uk/rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        outcome="success" xsi:schemaLocation="http://api.crunch.co.uk/rest"><suppliers
        count="1" firstResult="0"><supplier supplierId="711" defaultExpenseType="INTERNET"
        resourceUrl="/crunch-core/seam/resource/rest/api/suppliers/711" unknownSupplier="true"><name>BT</name><contactName>Sam
        Smith</contactName><email>sam@bt.com</email><website>bt.com</website><telephone>0712345678</telephone><fax>0212345678</fax></supplier></suppliers></crunchMessage>
  recorded_at: Thu, 16 May 2013 21:15:56 GMT
recorded_with: VCR 2.4.0
