---
http_interactions:
- request:
    method: put
    uri: https://demo.crunch.co.uk/crunch-core/seam/resource/rest/api/suppliers/844
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><supplier defaultExpenseType="GENERAL_INSURANCE"  xmlns="http://api.crunch.co.uk/rest"><name>Waitrose</name><contactName>Mark
        Hamill</contactName><email>mark@waitrose.com</email><website>waitrose.com</website><telephone>1111111</telephone><fax>02987654321</fax></supplier>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="xxx", oauth_consumer_key="xxx",
        oauth_nonce="xxx", oauth_signature="xxx",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1369419897", oauth_token="xxx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/*+xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><crunchMessage
        xmlns="http://api.crunch.co.uk/rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        outcome="success" xsi:schemaLocation="http://api.crunch.co.uk/rest"><supplier
        supplierId="844"/></crunchMessage>
  recorded_at: Fri, 24 May 2013 18:24:58 GMT
recorded_with: VCR 2.4.0
